.header {
  align-items: center;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  height: 49px;
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  padding-left: 10px;
}
.h2 {
  font-size: 21px;
  font-weight: 800;
}
.section {
  overflow: auto;
  height: calc(100% - 98px);
  /* 100% - el valor de altura del head y el nav */
  /* padding-top: 10px; */
}
.nav {
  bottom: 0;
  border-top: 1px solid #ccc;
  height: 49px;
  position: absolute;
  /* position: sticky; */
  width: 100%;
}
